h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Montserrat", Arial, serif;
    line-height: 1.4;
    font-weight: 700;
    color: #202020;
    text-transform: uppercase;
}

#mainh1 {
  font-size: 70px;
  letter-spacing: 15px;
}

h1, .h1 {
    letter-spacing: 8px;
    font-size: 32px;
}

h2, .h2 {
    letter-spacing: 6px;
    font-size: 26px;
}

h3, .h3 {
    letter-spacing: 4px;
    font-size: 18px;
}

h4, .h4 {
    letter-spacing: 3.4px;
    font-size: 14px;
    margin: 0 0 15px;
}

h5, .h5 {
    letter-spacing: 2.8px;
    font-size: 12px;
    margin: 0 0 10px;
}

h6, .h6 {
    letter-spacing: 2.2px;
    font-weight: 400;
    font-size: 10px;
    margin: 0 0 10px;
}

html {
  font-size: 100%;  
}

main {
    margin-top: 50px;
}

#pic {
  position: absolute;
}

/* .intro {
  position: relative;
} */

/* ---- reset ---- */
  canvas {
    display: block;
    vertical-align: bottom;
  }

  /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url("images/jumbo2.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1;
  }

  .particle:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/banner-pattern.png');
	opacity: 0.5;
	content: "";
	z-index: -1;
}
.particle:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	content: "";
	z-index: -2;
}

.personal-text {
    position: relative;
    bottom: 600px;
    text-align: center;
    color: white;
}

.first {
  text-align: center;
}



.second {
  background-color: blue;
  bottom: 30px;
  width: 40%;
}


/* Skill bracket animation */
.content {
  position: absolute;
  top: 175%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow:hidden;
  
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}
.content__container:before {
      content: '[';
      left: 0;
}

.content__container:after {
      content: ']';
      position: absolute;
      right: 0;
}

.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2.4s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  
  -webkit-animation-name: change;
  -webkit-animation-duration: 16s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height:40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
/* 
// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE : 
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines */